# Python bytecode__pycache__/*.pyc*.pyo*.pyd# Virtual environments.venv/venv/env/# Logs*.loglogs/SIG/logs/# OS junkThumbs.db.DS_Store# VS Code.vscode/# Build artifactsbuild/dist/*.egg-info/# Cache.cache/