<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <Product
    Id="*"
    Name="Starfield Intelligent Gallery"
    Language="1033"
    Version="1.0.0.0"
    Manufacturer="Games"
    UpgradeCode="A1234567-B89C-4D00-ABCD-1234567890AB">

    <Package InstallerVersion="200" Compressed="yes" InstallScope="perUser" />

    <Media Id="1" Cabinet="SIG.cab" EmbedCab="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">

      <!-- LOCALAPPDATA\StarfieldIntelligentGallery -->
      <Directory Id="LocalAppDataFolder">
        <Directory Id="SIGINSTALLDIR" Name="StarfieldIntelligentGallery">

          <!-- Component that OWNS the directory -->
          <Component Id="SIGInstallDirComponent" Guid="A1111111-B222-4CCC-8DDD-1234567890AA">
            <File Id="SIGLauncherFile" Source="C:\SIG\Installer\SIGLauncher.bat" />
            <RegistryValue Root="HKCU" Key="Software\SIG" Name="InstallDirKey" Type="integer" Value="1" KeyPath="yes" />
            <RemoveFile Id="CleanupSIGInstallDir" On="uninstall" Directory="SIGINSTALLDIR" Name="*"/>
          </Component>

        </Directory>
      </Directory>

      <!-- START MENU -->
      <Directory Id="ProgramMenuFolder">
        <Directory Id="SIGProgramMenu" Name="Starfield Intelligent Gallery">

          <!-- Component that OWNS the Start Menu folder -->
          <Component Id="SIGProgramMenuComponent" Guid="A2222222-B333-4DDD-8EEE-1234567890BB">
            <Shortcut
              Id="SIGStartShortcut"
              Name="Starfield Intelligent Gallery"
              Description="Launch SIG"
              Target="[SIGINSTALLDIR]\SIGLauncher.bat" />
            <RegistryValue Root="HKCU" Key="Software\SIG" Name="ProgramMenuKey" Type="integer" Value="1" KeyPath="yes" />
            <RemoveFile Id="CleanupSIGProgramMenu" On="uninstall" Directory="SIGProgramMenu" Name="*"/>
          </Component>

        </Directory>
      </Directory>

      <!-- DESKTOP -->
      <Directory Id="DesktopFolder">
        <Component Id="SIGDesktopShortcut" Guid="A3333333-B444-4EEE-8FFF-1234567890CC">
          <Shortcut
            Id="SIGDesktopShortcutLink"
            Name="Starfield Intelligent Gallery"
            Description="Launch SIG"
            Target="[SIGINSTALLDIR]\SIGLauncher.bat" />
          <RegistryValue Root="HKCU" Key="Software\SIG" Name="DesktopShortcutKey" Type="integer" Value="1" KeyPath="yes" />
        </Component>
      </Directory>

    </Directory>

    <Feature Id="MainFeature" Title="Starfield Intelligent Gallery" Level="1">
      <ComponentRef Id="SIGInstallDirComponent" />
      <ComponentRef Id="SIGProgramMenuComponent" />
      <ComponentRef Id="SIGDesktopShortcut" />
    </Feature>

  </Product>
</Wix>